* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.screen {
    grid-area: "screen";
    font-size: 40pt;
    color: white;
    background-color: black;
    text-align: right;
    padding: 20px 5px;
    font-family: "Courier New", Courier, monospace;
}

.layout {
    grid-area: "layout";
}

.buttons {
    width: 25%;
    height: 100px;
    border-radius: 0;
    font-size: 40px;
    border: 3px solid black;
    border-bottom: none;
    border-right: none;
}

.double {
    width: 50%;
}

.triple {
    width: 75%;
}

.row {
    display: flex;
}

.control {
    background-color: rgb(216,217,219);
}

.control:hover {
    background-color: rgb(235,235,235);
}

.control:active {
    background-color: rgb(178, 178, 178);
}

.operator {
    background-color: rgb(223,151,76);
    color: white;
}

.operator:hover {
    background-color: rgb(223,176,126);
}

.operator:active {
    background-color: rgb(218, 145, 67)
}

.calculator {
    width: 400px;
    /*
    grid-template-areas:
    "screen"
    "layout";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-rows: auto;
    */
}